PC-BackUp/Node-RED-BackUp/flows-3.json
[
    {
        "id": "c61c5354fe87b491",
        "type": "tab",
        "label": "플로우 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be1e55351f434b0d",
        "type": "inject",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 LED On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "esp8266/rcv/led",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "568952314a180596",
                "831b679a0e53a19a"
            ]
        ]
    },
    {
        "id": "831b679a0e53a19a",
        "type": "debug",
        "z": "c61c5354fe87b491",
        "name": "from PC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "19ccfd4806ed773a",
        "type": "mqtt in",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 Device",
        "topic": "esp8266/send/dev",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f0d2dd3a2ce16e8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ab3c826d6e751250"
            ]
        ]
    },
    {
        "id": "568952314a180596",
        "type": "mqtt out",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 Client",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f0d2dd3a2ce16e8a",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "ab3c826d6e751250",
        "type": "debug",
        "z": "c61c5354fe87b491",
        "name": "from ESP8266 Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 220,
        "wires": []
    },
    {
        "id": "a59f8f9bb510855f",
        "type": "inject",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 LED Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "esp8266/rcv/led",
        "payload": "0",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "568952314a180596",
                "831b679a0e53a19a"
            ]
        ]
    },
    {
        "id": "b91901d1b7466b07",
        "type": "mqtt in",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 Button",
        "topic": "esp8266/send/button",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f0d2dd3a2ce16e8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "f89547e07dceb81d"
            ]
        ]
    },
    {
        "id": "f89547e07dceb81d",
        "type": "debug",
        "z": "c61c5354fe87b491",
        "name": "from ESP8266 Button",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "9c77982a2c6a0e7b",
        "type": "mqtt in",
        "z": "c61c5354fe87b491",
        "name": "ESP8266 LED",
        "topic": "esp8266/send/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f0d2dd3a2ce16e8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "75d1fdfac8eebd06"
            ]
        ]
    },
    {
        "id": "75d1fdfac8eebd06",
        "type": "debug",
        "z": "c61c5354fe87b491",
        "name": "from ESP8266 LED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "f0d2dd3a2ce16e8a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]